<div class="container bg-light py-5">
    <h1 class="display-5 fw-bold">Welcome to Quiz App</h1>
    <p class="col-md-8 fs-4">Test Your Angular Knowledge. Attempt 10 Questions. Each Question holds equal points.</p>
    <h4>Rules:</h4>
    <ol>
        <li>Correct Answers adds 10 Points</li>
        <li>Incorrect Answers add 10 Points penalty</li>
        <li>You will have 1 minute for each Question</li>
        <li>Refreshing the page will reset the Quiz</li>
    </ol>
    <h1 style="font-family: cursive; text-align: center;">All the Best</h1>
    <div class="name col-md-4 my-3">
        <label for="name">Name</label>
        <input type="text" class="form-control">
    </div>
    <button class="btn btn-primary btn-lg" routerLink="/question">Start Quiz</button>
</div>